{% extends "skeleton.twig" %}
{% block pageTitle %}{% trans %} Application settings {% endtrans %}{% endblock %}
{% set navLink = 'settings' %}
{% block pageBody %}
<div class="container-fluid">
    <div class="row" id="comments-section">
        <div class="col-md-12">
            <div class="page-header">
                <h3>{% trans %} Application settings {% notes %} Settings page title{% endtrans %} </h3>
            </div>
            <div class="panel panel-default">
                <div class="panel-body">
                    <form method="post">
                    <div class="form-group">
                        <label for="language">{% trans %} Language {% notes %} Label for language selector on settings page{% endtrans %}</label>
                        <select class="language-select" name="language">
                            {% for language in langHelper.getAvailableLanguages %}
                                <option value="{{ language }}" {% if language == lang %}selected{% endif %}>{{ langHelper.getLanguageDisplayName(language) }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-default">{% trans %} Save {% notes %} Save settings button text{% endtrans %}</button>
                    </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}