{% extends "skeleton.twig" %}
{% block pageTitle %} Загрузить файл {% endblock %}
{% set navLink = 'upload' %}
{% block pageBody %}
{% block error %}
    {% if error %}
        <div id="error-report" class="alert alert-danger" role="alert">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            <span class="sr-only">Ошибка:</span>
            {{ errorMessage }}
        </div>
    {% endif %}
{% endblock %}
<div class="container">
    <div class="vertical col-lg-8 col-md-offset-2">
        <form method="post" id="upload-form" enctype="multipart/form-data">
            <input type="hidden" name="MAX_FILE_SIZE" value="25000000" />
            <div class="col-lg-5">
                <div class="input-group">
                    <span class="input-group-btn">
                        <span class="btn btn-primary btn-file">
                            Browse<input type="file" name="filename" multiple>
                        </span>
                    </span>
                    <input type="text" class="form-control" readonly>
                </div>
                <span class="help-block">
                    Максимальный размер загружаемого файла - {{ sizeLimit }}МБ
                </span>
                <button type="submit" class="btn btn-default">Загрузить файл</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}