{% extends "skeleton.twig" %}
{% block pageTitle %} Загрузить файл {% endblock %}
{% set navLink = 'upload' %}
{% block pageBody %}
{% block error %}
    {% if errors %}
        {% for error in errors %}
            <div id="error-report" class="alert alert-danger" role="alert">
                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                <span class="sr-only">Ошибка:</span>
                {{ error }}
            </div>
        {% endfor %}
    {% endif %}
{% endblock %}
<div class="container">
    <div class="vertical col-lg-6">
        <form action="/upload" method="post" enctype="multipart/form-data" class="dropzone" id="fileUploadForm">
            <div class="fallback">
                <input id="file-upload-form" name="filename" type="file">
                <button id="upload-button" type="submit" class="btn btn-info">Загрузить</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}